@charset "UTF-8";
body {
  background: #f4f6fa;
  color: #333333;
  font-size: 18px;
  line-height: 28px; }

p {
  margin: 0 0 28px; }

pre {
  overflow-x: auto; }

a {
  color: #c73036;
  font-family: Georgia, serif;
  text-decoration: underline; }

a:hover {
  color: #333333;
  text-decoration: underline; }

.container {
  background-color: white; }

.ory-cell-leaf {
  padding: 8px; }

.container {
  background: white;
  padding: 0 24px; }

.container {
  margin-right: auto;
  margin-left: auto;
  align-items: stretch;
  margin-top: 100px;
  margin-bottom: 100px; }

.output {
  margin-top: 0; }

@media (min-width: 200px) {
  .container {
    padding: 0 5px;
    margin-bottom: 0; } }

@media (min-width: 768px) {
  .container {
    width: 768px;
    margin-bottom: 0; } }

@media (min-width: 992px) {
  .container {
    width: 970px;
    padding: 0 18px;
    margin-top: 50px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    padding: 0 24px;
    margin-bottom: 100px; } }

@media (max-width: 800px) {
  .container {
    margin-bottom: 0; } }

.editable, #editable-static {
  padding: 5px; }

nav {
  color: #eee;
  background: #111;
  font-family: 'Open Sans', serif; }

nav ul {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 10px 20px;
  text-align: right; }

nav ul li {
  display: inline-block;
  padding: 0 10px; }

nav ul li a,
nav ul li a:visited {
  color: #eee;
  transition: all 200ms ease;
  text-decoration: none;
  font-family: 'Open Sans', serif; }

nav ul li a:hover,
nav ul li a:active {
  color: #aaa;
  text-decoration: none; }

::-webkit-scrollbar {
  display: none; }

.not-support {
  font-size: 30px;
  color: #888888;
  position: absolute;
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 900px;
  height: 80px;
  line-height: 40px; }

/* http://typecast.com/blog/a-more-modern-scale-for-web-typography */
:root {
  /* equivalent to 16px */
  /* equivalent to 20px */ }

body {
  font-size: 100%; }

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5; }

.editable-area h1, .editable-area h2, .editable-area h3, .editable-area h4, .editable-area h5, .editable-area h6 {
  color: #333;
  font-weight: bold; }

.editable-area p, .editable-area h1, .editable-area h2, .editable-area h3, .editable-area h4, .editable-area h5, .editable-area h6, .editable-area blockquote, .editable-area pre {
  margin: 1em 0 0.5em; }

.editable-area p:first-child, .editable-area h1:first-child, .editable-area h2:first-child, .editable-area h3:first-child, .editable-area h4:first-child, .editable-area h5:first-child, .editable-area h6:first-child, .editable-area blockquote:first-child, .editable-area pre:first-child {
  margin-top: 0; }

.editable-area p:last-child, .editable-area h1:last-child, .editable-area h2:last-child, .editable-area h3:last-child, .editable-area h4:last-child, .editable-area h5:last-child, .editable-area h6:last-child, .editable-area blockquote:last-child, .editable-area pre:last-child {
  margin-bottom: 0; }

.editable-area ul, .editable-area ol {
  margin: 0; }

.editable-area li {
  margin: 1em 0; }

.editable-area body {
  font-size: 1em;
  line-height: 1.25em; }

.editable-area em {
  font-style: italic; }

.editable-area strong {
  font-weight: 700; }

.editable-area h1 strong, .editable-area h2 strong, .editable-area h3 strong, .editable-area h4 strong, .editable-area h5 strong, .editable-area h6 strong {
  font-weight: 800; }

@media only screen and (max-width: 64em) and (min-width: 48em) {
  .editable-area body {
    font-size: 1em;
    line-height: 1.375em; } }

.editable-area h1 {
  margin: 1em 0 0.5em 0;
  font-size: 2em;
  line-height: 1.25em; }

.editable-area h1:first-child {
  margin-top: 0; }

@media only screen and (max-width: 64em) and (min-width: 48em) {
  .editable-area h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125; } }

@media only screen and (max-width: 64em) and (min-width: 48em) {
  .editable-area h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */ } }

.editable-area h2 {
  margin: 0.8em 0 0.5em 0;
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */ }

@media only screen and (max-width: 64em) and (min-width: 48em) {
  .editable-area h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25em; } }

@media only screen and (max-width: 48em) {
  .editable-area h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25em; } }

.editable-area h3 {
  margin: 0.8em 0 0.5em 0;
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */ }

@media only screen and (max-width: 64em) and (min-width: 48em) {
  .editable-area h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25em; } }

@media only screen and (max-width: 48em) {
  .editable-area h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25em; } }

.editable-area h4 {
  margin: 0.8em 0 0.5em 0;
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111; }

@media only screen and (max-width: 64em) and (min-width: 48em) {
  .editable-area h4 {
    line-height: 1.25em; } }

@media only screen and (max-width: 48em) {
  .editable-area h4 {
    line-height: 1.25em; } }

.editable-area h5 {
  margin: 0.8em 0 0.5em 0;
  font-size: 1.085em;
  /* 1.125x body copy size = 18px */
  line-height: 1.055; }

@media only screen and (max-width: 64em) and (min-width: 48em) {
  .editable-area h5 {
    line-height: 1.25em; } }

@media only screen and (max-width: 48em) {
  .editable-area h5 {
    line-height: 1.25em; } }

.editable-area h6 {
  margin: 0.8em 0 0.5em 0;
  font-size: 1.055em;
  /* 1.125x body copy size = 18px */
  line-height: 1.005; }

@media only screen and (max-width: 64em) and (min-width: 48em) {
  .editable-area h6 {
    line-height: 1.25em; } }

@media only screen and (max-width: 48em) {
  .editable-area h6 {
    line-height: 1.25em; } }

.editable-area blockquote {
  font-size: 1em;
  font-style: italic;
  margin: 0 2.5rem 0.5rem;
  position: relative; }
  .editable-area blockquote:before {
    content: '“';
    font-size: 24px;
    position: absolute;
    top: 0;
    left: -30px; }
  .editable-area blockquote:after {
    content: '”';
    font-size: 24px;
    position: absolute;
    bottom: 0;
    right: -30px; }

.ory-cell-leaf {
  margin: 12px; }

.ory-plugins-content-divider {
  background-color: #aaa;
  width: 100%;
  height: 2px;
  border: none; }

.editable-area code, .editable-area pre {
  font-family: monospace;
  border-radius: 0.3em;
  padding: 0.4em; }

.editable-area code {
  display: inline;
  margin: 0 0.5em;
  white-space: pre; }

.editable-area pre {
  display: block;
  margin: 1em; }

.editable-area ul, .editable-area ol {
  margin: 1em 0;
  list-style-type: inside; }

.editable-area li {
  margin: .2em 0 .2em 1em; }

.editable-area li p {
  margin: 0; }

.editable-area ol {
  list-style-type: decimal; }

.editable-area ul {
  list-style-type: disc; }

/*! CSSDevices v2.2.0 | MIT license | Maintained by Stuart Yamartino | http://cssdevices.io */
.cd-iphone-5s,
.cd-iphone-5c,
.cd-iphone-5s > .cd-body,
.cd-iphone-5c > .cd-body {
  width: 19.8em;
  height: 42em; }

.cd-iphone-6,
.cd-iphone-6 > .cd-body {
  width: 23em;
  height: 48em; }

.cd-iphone-6-plus,
.cd-iphone-6-plus > .cd-body {
  width: 25.5em;
  height: 53em; }

/*---------  iPhone Parts --------*/
[class^='cd-iphone'] .cd-body {
  position: relative;
  border-style: solid;
  background: #1e1e1e; }

/*---------  iPhone5s & iPhone5c Parts --------*/
[class^='cd-iphone-5'] .cd-body {
  border-radius: 2.5em;
  border-width: .25em; }

[class^='cd-iphone-5'] .cd-camera {
  background: #3c3d3d;
  top: 1.7em;
  left: 50%;
  margin-left: -.25em;
  width: .5em;
  height: .5em;
  border-radius: .25em; }

[class^='cd-iphone-5'] .cd-ear {
  background: #292728;
  top: 3em;
  left: 50%;
  margin-left: -1.75em;
  width: 3.5em;
  height: .6em;
  border-radius: .3em; }

[class^='cd-iphone-5'] .cd-screen {
  background: black;
  top: 5em;
  left: 50%;
  margin-left: -8.9em;
  width: 17.8em;
  height: 31em;
  border: solid .2em black;
  border-radius: .1em; }

[class^='cd-iphone-5'] .cd-home {
  bottom: 1em;
  left: 50%;
  margin-left: -1.75em;
  width: 3.5em;
  height: 3.5em;
  border-radius: 1.75em;
  border: .2em solid black; }

[class^='cd-iphone-5'] .cd-sound {
  top: 5.1em;
  left: -.35em;
  height: 1.8em;
  width: .2em; }

[class^='cd-iphone-5'] .cd-sound::before {
  content: "";
  top: 4em;
  height: 1.4em;
  width: .2em; }

[class^='cd-iphone-5'] .cd-sound::after {
  content: "";
  top: 7.2em;
  height: 1.4em;
  width: .2em; }

[class^='cd-iphone-5'] .cd-sleep {
  top: -.35em;
  left: 13.2em;
  height: .2em;
  width: 3em; }

.cd-iphone-5c .cd-home {
  background: #242324;
  border-width: 0 !important; }

.cd-iphone-5c .cd-home::after {
  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  top: 1.1em;
  left: 50%;
  margin-left: -.6em;
  border-radius: .3em;
  border: 1px solid #393839; }

.cd-iphone-5c .cd-body {
  border-color: #7ec4fc; }

.cd-iphone-5c.cd-green .cd-body {
  border-color: #b3f390; }

.cd-iphone-5c.cd-red .cd-body {
  border-color: #fc828d; }

.cd-iphone-5c.cd-yellow .cd-body {
  border-color: #fff38a; }

.cd-iphone-5c.cd-white .cd-body {
  border-color: #efefee; }

.cd-iphone-5c .cd-sound,
.cd-iphone-5c .cd-sound::before,
.cd-iphone-5c .cd-sound::after,
.cd-iphone-5c .cd-sleep {
  background: #7ec4fc; }

.cd-iphone-5c.cd-green .cd-sound, .cd-iphone-5c.cd-green .cd-sound::before, .cd-iphone-5c.cd-green .cd-sound::after, .cd-iphone-5c.cd-green .cd-sleep {
  background: #b3f390; }

.cd-iphone-5c.cd-red .cd-sound, .cd-iphone-5c.cd-red .cd-sound::before, .cd-iphone-5c.cd-red .cd-sound::after, .cd-iphone-5c.cd-red .cd-sleep {
  background: #fc828d; }

.cd-iphone-5c.cd-yellow .cd-sound, .cd-iphone-5c.cd-yellow .cd-sound::before, .cd-iphone-5c.cd-yellow .cd-sound::after, .cd-iphone-5c.cd-yellow .cd-sleep {
  background: #fff38a; }

.cd-iphone-5c.cd-white .cd-sound, .cd-iphone-5c.cd-white .cd-sound::before, .cd-iphone-5c.cd-white .cd-sound::after, .cd-iphone-5c.cd-white .cd-sleep {
  background: #efefee; }

/*---------  iPhone5s & iPhone6 & iPhone6 Plus Coloring --------*/
.cd-iphone-5s .cd-body,
.cd-iphone-6 .cd-body,
.cd-iphone-6-plus .cd-body {
  border-color: #656565; }

.cd-iphone-5s.cd-gold .cd-body, .cd-iphone-5s.cd-gold .cd-body .cd-home,
.cd-iphone-6.cd-gold .cd-body,
.cd-iphone-6.cd-gold .cd-body .cd-home,
.cd-iphone-6-plus.cd-gold .cd-body,
.cd-iphone-6-plus.cd-gold .cd-body .cd-home {
  background-color: #fafafa;
  border-color: #ecdcc8; }

.cd-iphone-5s.cd-rosegold .cd-body, .cd-iphone-5s.cd-rosegold .cd-body .cd-home,
.cd-iphone-6.cd-rosegold .cd-body,
.cd-iphone-6.cd-rosegold .cd-body .cd-home,
.cd-iphone-6-plus.cd-rosegold .cd-body,
.cd-iphone-6-plus.cd-rosegold .cd-body .cd-home {
  background-color: #fafafa;
  border-color: #E9C9C5; }

.cd-iphone-5s.cd-silver .cd-body, .cd-iphone-5s.cd-silver .cd-body .cd-home,
.cd-iphone-6.cd-silver .cd-body,
.cd-iphone-6.cd-silver .cd-body .cd-home,
.cd-iphone-6-plus.cd-silver .cd-body,
.cd-iphone-6-plus.cd-silver .cd-body .cd-home {
  background-color: #fafafa;
  border-color: #bdbfbe; }

.cd-iphone-5s .cd-body .cd-home,
.cd-iphone-6 .cd-body .cd-home,
.cd-iphone-6-plus .cd-body .cd-home {
  border-color: #2c2b2c; }

.cd-iphone-5s .cd-sound,
.cd-iphone-5s .cd-sound::before,
.cd-iphone-5s .cd-sound::after,
.cd-iphone-5s .cd-sleep,
.cd-iphone-6 .cd-sound,
.cd-iphone-6 .cd-sound::before,
.cd-iphone-6 .cd-sound::after,
.cd-iphone-6 .cd-sleep,
.cd-iphone-6-plus .cd-sound,
.cd-iphone-6-plus .cd-sound::before,
.cd-iphone-6-plus .cd-sound::after,
.cd-iphone-6-plus .cd-sleep {
  background: #656565; }

.cd-iphone-5s.cd-gold .cd-sound, .cd-iphone-5s.cd-gold .cd-sound::before, .cd-iphone-5s.cd-gold .cd-sound::after, .cd-iphone-5s.cd-gold .cd-sleep,
.cd-iphone-6.cd-gold .cd-sound,
.cd-iphone-6.cd-gold .cd-sound::before,
.cd-iphone-6.cd-gold .cd-sound::after,
.cd-iphone-6.cd-gold .cd-sleep,
.cd-iphone-6-plus.cd-gold .cd-sound,
.cd-iphone-6-plus.cd-gold .cd-sound::before,
.cd-iphone-6-plus.cd-gold .cd-sound::after,
.cd-iphone-6-plus.cd-gold .cd-sleep {
  background: #ecdcc8; }

.cd-iphone-5s.cd-rosegold .cd-sound, .cd-iphone-5s.cd-rosegold .cd-sound::before, .cd-iphone-5s.cd-rosegold .cd-sound::after, .cd-iphone-5s.cd-rosegold .cd-sleep,
.cd-iphone-6.cd-rosegold .cd-sound,
.cd-iphone-6.cd-rosegold .cd-sound::before,
.cd-iphone-6.cd-rosegold .cd-sound::after,
.cd-iphone-6.cd-rosegold .cd-sleep,
.cd-iphone-6-plus.cd-rosegold .cd-sound,
.cd-iphone-6-plus.cd-rosegold .cd-sound::before,
.cd-iphone-6-plus.cd-rosegold .cd-sound::after,
.cd-iphone-6-plus.cd-rosegold .cd-sleep {
  background: #E9C9C5; }

.cd-iphone-5s.cd-silver .cd-sound, .cd-iphone-5s.cd-silver .cd-sound::before, .cd-iphone-5s.cd-silver .cd-sound::after, .cd-iphone-5s.cd-silver .cd-sleep,
.cd-iphone-6.cd-silver .cd-sound,
.cd-iphone-6.cd-silver .cd-sound::before,
.cd-iphone-6.cd-silver .cd-sound::after,
.cd-iphone-6.cd-silver .cd-sleep,
.cd-iphone-6-plus.cd-silver .cd-sound,
.cd-iphone-6-plus.cd-silver .cd-sound::before,
.cd-iphone-6-plus.cd-silver .cd-sound::after,
.cd-iphone-6-plus.cd-silver .cd-sleep {
  background: #bdbfbe; }

/*---------  iPhone6 & iPhone6 Plus Parts --------*/
[class^='cd-iphone-6'] .cd-body {
  border-radius: 3em;
  border-width: .4em; }

[class^='cd-iphone-6'] .cd-camera {
  background: #3c3d3d;
  top: 2.4em;
  left: 50%;
  margin-left: -4em;
  width: .7em;
  height: .7em;
  border-radius: .35em; }

[class^='cd-iphone-6'].cd-gold .cd-camera::after, [class^='cd-iphone-6'].cd-rosegold .cd-camera::after, [class^='cd-iphone-6'].cd-silver .cd-camera::after {
  content: "";
  background: #3c3d3d;
  top: -1.4em;
  right: -3.5em;
  width: .5em;
  height: .5em;
  border-radius: .25em; }

[class^='cd-iphone-6'] .cd-ear {
  background: #292728;
  top: 2.5em;
  left: 50%;
  margin-left: -2em;
  width: 4em;
  height: .5em;
  border-radius: .3em; }

[class^='cd-iphone-6'] .cd-screen {
  background: black;
  top: 5em;
  left: 50%;
  margin-left: -10.5em;
  width: 21em;
  height: 37em;
  border: solid .2em black;
  border-radius: .1em; }

[class^='cd-iphone-6'] .cd-home {
  bottom: .9em;
  left: 50%;
  margin-left: -1.75em;
  width: 3.5em;
  height: 3.5em;
  border-radius: 1.75em;
  border: .2em solid black; }

[class^='cd-iphone-6'] .cd-sound {
  top: 5em;
  left: -.5em;
  height: 1.8em;
  width: .2em; }

[class^='cd-iphone-6'] .cd-sound::before {
  content: "";
  top: 4.4em;
  height: 3.4em;
  width: .2em; }

[class^='cd-iphone-6'] .cd-sound::after {
  content: "";
  top: 8.8em;
  height: 3.4em;
  width: .2em; }

[class^='cd-iphone-6'] .cd-sleep {
  top: 9.3em;
  right: -.5em;
  height: 3.4em;
  width: .2em; }

.cd-iphone-6-plus .cd-body .cd-screen {
  top: 5em;
  margin-left: -11.8em;
  width: 23.6em;
  height: 42em;
  border: solid .2em black;
  border-radius: .1em; }

.cd-blueprint .cd-sound {
  left: -2px !important; }

.cd-blueprint[class^='cd-iphone-6'] .cd-sleep {
  background: #000000 !important;
  width: 1px !important;
  border: none !important;
  right: -2px; }

.cd-blueprint[class^='cd-iphone-5'] .cd-sleep {
  background: #000000 !important;
  height: 1px !important;
  border: none !important;
  top: -2px; }

.cd-ipad,
.cd-ipad > .cd-body {
  width: 33.6em;
  height: 48em; }

.cd-ipad .cd-body {
  background: #1e1e1e;
  border-radius: 1.6em;
  border: 0.25em solid #656565; }

.cd-ipad .cd-camera {
  background: #3c3d3d;
  width: .5em;
  height: .5em;
  top: 1.6em;
  left: 50%;
  margin-left: -.25em;
  border-radius: .3em; }

.cd-ipad .cd-screen {
  width: 30em;
  height: 40em;
  background: black;
  top: 3.7em;
  left: 50%;
  margin-left: -15em;
  border: .2em solid black; }

.cd-ipad .cd-home {
  width: 2.2em;
  height: 2.2em;
  border: 0.2em solid #2c2b2c;
  bottom: .8em;
  border-radius: 1.1em;
  left: 50%;
  margin-left: -1em; }

.cd-ipad.cd-gold .cd-body {
  background: #fafafa;
  border-color: #ecdcc8; }

.cd-ipad.cd-gold .cd-home {
  border-color: #ecdcc8; }

.cd-ipad.cd-silver .cd-body {
  background: #fafafa;
  border-color: #bdbfbe; }

.cd-ipad.cd-silver .cd-home {
  border-color: #bdbfbe; }

.cd-mac {
  width: 60em;
  height: 34.8em; }

.cd-mac .cd-top {
  width: 52em;
  height: 34em;
  left: 50%;
  margin-left: -26em;
  background: #d6d5da;
  border-radius: 1.5em 1.5em .6em .6em; }

.cd-mac .cd-camera {
  width: .4em;
  height: .4em;
  background: #3c3d3d;
  left: 50%;
  margin-left: -.2em;
  top: .8em;
  border-radius: .2em; }

.cd-mac .cd-screen {
  width: 48em;
  height: 30em;
  background: #3c3d3d;
  overflow: hidden;
  border: 1px solid #3c3d3d;
  top: 2em;
  left: 50%;
  margin-left: -24em; }

.cd-mac .cd-bottom {
  width: 100%;
  height: 1em;
  bottom: 0;
  background: #BDBDBD;
  border-radius: 10em/1.2em;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.cd-mac .cd-notch {
  width: 10em;
  height: .5em;
  background: #d6d5da;
  left: 50%;
  margin-left: -5em;
  bottom: .5em;
  border-radius: 0 0 1em 1em;
  border-top: 1px solid #BDBDBD; }

.cd-mac.cd-pro .cd-top {
  background: #1C1C1C; }

.cd-mac.cd-pro .cd-bottom {
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em; }

.cd-watch {
  width: 16.6em;
  height: 28em; }

.cd-watch .cd-bracket {
  height: 19.4em;
  width: 11.2em;
  left: 50%;
  margin-left: -5.6em;
  border: 0.5em solid #D8D8D8;
  border-radius: .8em;
  top: 4.3em; }

.cd-watch [class$='-band'] {
  width: 9em;
  height: 7.05em;
  background: #81DAF5;
  left: 50%;
  margin-left: -4.5em; }

.cd-watch .cd-top-band {
  border-radius: .5em .5em 0 0;
  top: -1.2em;
  transform: perspective(30em) rotateX(45deg);
  -webkit-transform: perspective(30em) rotateX(45deg);
  -ms-transform: perspective(30em) rotateX(45deg); }

.cd-watch .cd-bottom-band {
  border-radius: 0 0 .5em .5em;
  bottom: -1.2em;
  transform: perspective(30em) rotateX(-45deg);
  -webkit-transform: perspective(30em) rotateX(-45deg);
  -ms-transform: perspective(30em) rotateX(-45deg); }

.cd-watch .cd-crown {
  width: .8em;
  height: 3.4em;
  right: 0;
  top: 50%;
  margin-top: -5em;
  background: #D8D8D8;
  border-radius: 0 .4em .4em 0; }

.cd-watch .cd-button {
  width: .4em;
  height: 5em;
  right: .4em;
  top: 50%;
  background: #D8D8D8;
  border-radius: 0 .3em .3em 0; }

.cd-watch .cd-body {
  height: 18em;
  width: 15.2em;
  top: 50%;
  left: 50%;
  margin-top: -9em;
  margin-left: -7.6em;
  border: 0.7em solid #D8D8D8;
  border-radius: 3em;
  background: black; }

.cd-watch .cd-screen {
  background: black;
  overflow: hidden;
  width: 11.2em;
  height: 14em;
  top: 50%;
  left: 50%;
  margin-top: -7em;
  margin-left: -5.6em;
  border-radius: .5em; }

.cd-watch .cd-screen > * {
  border-radius: .5em; }

.cd-watch.cd-no-bracket .cd-bracket {
  display: none; }

.cd-watch.cd-black .cd-crown,
.cd-watch.cd-black .cd-button {
  background: #585858; }

.cd-watch.cd-black .cd-bracket,
.cd-watch.cd-black .cd-body {
  border-color: #585858; }

.cd-watch.cd-gold .cd-crown,
.cd-watch.cd-gold .cd-button {
  background: #e9d296; }

.cd-watch.cd-gold .cd-bracket,
.cd-watch.cd-gold .cd-body {
  border-color: #e9d296; }

.cd-watch.cd-rosegold .cd-crown,
.cd-watch.cd-rosegold .cd-button {
  background: #e9bfa9; }

.cd-watch.cd-rosegold .cd-bracket,
.cd-watch.cd-rosegold .cd-body {
  border-color: #e9bfa9; }

.cd-watch.cd-white-band [class$='-band'] {
  background: #F2F2F2; }

.cd-watch.cd-blue-band [class$='-band'] {
  background: #81DAF5; }

.cd-watch.cd-green-band [class$='-band'] {
  background: #C8FE2E; }

.cd-watch.cd-pink-band [class$='-band'] {
  background: #F66E64; }

.cd-watch.cd-black-band [class$='-band'] {
  background: #2E2E2E; }

.cd-watch.cd-brown-band [class$='-band'] {
  background: #876450; }

.cd-watch.cd-tan-band [class$='-band'] {
  background: #BEB0A6; }

.cd-watch.cd-navy-band [class$='-band'] {
  background: #56586b; }

.cd-watch.cd-red-band [class$='-band'] {
  background: #ff4838; }

.cd-watch.cd-linked-band [class$='-band'] {
  background: linear-gradient(to bottom, #595959, #595959 10%, #B6B6B6 10%, #B6B6B6);
  background-size: 100% 2em; }

.cd-watch.cd-blueprint .cd-bracket {
  top: 4.6em;
  height: 18.9em; }

.cd-watch.cd-blueprint .cd-crown,
.cd-watch.cd-blueprint .cd-button {
  border-left: none !important; }

.cd-watch.cd-blueprint .cd-screen {
  border: none !important; }

body {
  font-size: 14px; }

[class^='cd-'],
[class^='cd-']::after,
[class^='cd-']::before {
  margin: 0;
  padding: 0;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

.cd-iphone-5s,
.cd-iphone-5c,
.cd-iphone-6,
.cd-iphone-6-plus,
.cd-ipad,
.cd-mac {
  border: 0;
  position: relative;
  z-index: 50;
  font-size: 14px;
  display: block; }

[class^='cd-'] *,
[class^='cd-'] *::after,
[class^='cd-'] *::before {
  position: absolute; }

.cd-screen {
  overflow: hidden; }

.cd-screen > * {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-drag: none; }

.cd-screen > *:first-child {
  display: block; }

.cd-screen.cd-screen-scrolling {
  overflow-y: scroll; }

.cd-screen.cd-screen-scrolling > * {
  bottom: none;
  height: auto; }

.cd-scale-10 {
  font-size: 10% !important; }

.cd-scale-20 {
  font-size: 20% !important; }

.cd-scale-30 {
  font-size: 30% !important; }

.cd-scale-40 {
  font-size: 40% !important; }

.cd-scale-50 {
  font-size: 50% !important; }

.cd-scale-60 {
  font-size: 60% !important; }

.cd-scale-70 {
  font-size: 70% !important; }

.cd-scale-80 {
  font-size: 80% !important; }

.cd-scale-90 {
  font-size: 90% !important; }

.cd-padded-device {
  margin: 20px; }

.cd-fill-parent,
.cd-device-loader {
  visibility: hidden; }

.cd-center {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block; }

[class^='cd-'].cd-blueprint *,
[class^='cd-'].cd-blueprint *::after,
[class^='cd-'].cd-blueprint *::before {
  background: white !important;
  border: 1px solid #000000 !important; }

.cd-blueprint .cd-sound,
.cd-blueprint .cd-sound::before,
.cd-blueprint .cd-sound::after {
  background: #000000 !important;
  width: 1px !important;
  border: none !important; }

.cd-blueprint .cd-screen * {
  border: none !important; }

.cd-slideshow > *:nth-child(n+2) {
  display: none; }

.cd-smart-loader > :first-child {
  display: none; }

.cd-landscape-left.cd-iphone-5s,
.cd-landscape-left.cd-iphone-5c,
.cd-landscape-right.cd-iphone-5s,
.cd-landscape-right.cd-iphone-5c {
  height: 19.8em;
  width: 42em; }

.cd-landscape-left.cd-iphone-6,
.cd-landscape-right.cd-iphone-6 {
  height: 23em;
  width: 48em; }

.cd-landscape-left.cd-iphone-6-plus,
.cd-landscape-right.cd-iphone-6-plus {
  height: 25.5em;
  width: 53em; }

.cd-landscape-left.cd-ipad,
.cd-landscape-right.cd-ipad {
  height: 33.6em;
  width: 48em; }

.cd-landscape-left > .cd-body, .cd-landscape-left > .cd-body > .cd-screen {
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0; }

.cd-landscape-left > .cd-body {
  transform: rotate(-90deg) translate(-100%, 0);
  -webkit-transform: rotate(-90deg) translate(-100%, 0);
  -ms-transform: rotate(-90deg) translate(-100%, 0); }

.cd-landscape-left > .cd-body > .cd-screen {
  transform: rotate(90deg) translate(0, -100%);
  -webkit-transform: rotate(90deg) translate(0, -100%);
  -ms-transform: rotate(90deg) translate(0, -100%); }

.cd-landscape-left:not(.cd-landscape-fixed-screen).cd-iphone-5s > .cd-body > .cd-screen, .cd-landscape-left:not(.cd-landscape-fixed-screen).cd-iphone-5c > .cd-body > .cd-screen {
  height: 17.8em;
  width: 31em; }

.cd-landscape-left:not(.cd-landscape-fixed-screen).cd-iphone-6 > .cd-body > .cd-screen {
  height: 21em;
  width: 37em; }

.cd-landscape-left:not(.cd-landscape-fixed-screen).cd-iphone-6-plus > .cd-body > .cd-screen {
  height: 23.6em;
  width: 42em; }

.cd-landscape-left:not(.cd-landscape-fixed-screen).cd-ipad > .cd-body > .cd-screen {
  height: 30em;
  width: 40em; }

.cd-landscape-right > .cd-body, .cd-landscape-right > .cd-body > .cd-screen {
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0; }

.cd-landscape-right > .cd-body {
  transform: rotate(90deg) translate(0, -100%);
  -webkit-transform: rotate(90deg) translate(0, -100%);
  -ms-transform: rotate(90deg) translate(0, -100%); }

.cd-landscape-right > .cd-body > .cd-screen {
  transform: rotate(-90deg) translate(-100%, 0);
  -webkit-transform: rotate(-90deg) translate(-100%, 0);
  -ms-transform: rotate(-90deg) translate(-100%, 0); }

.cd-landscape-right:not(.cd-landscape-fixed-screen).cd-iphone-5s > .cd-body > .cd-screen, .cd-landscape-right:not(.cd-landscape-fixed-screen).cd-iphone-5c > .cd-body > .cd-screen {
  height: 17.8em;
  width: 31em; }

.cd-landscape-right:not(.cd-landscape-fixed-screen).cd-iphone-6 > .cd-body > .cd-screen {
  height: 21em;
  width: 37em; }

.cd-landscape-right:not(.cd-landscape-fixed-screen).cd-iphone-6-plus > .cd-body > .cd-screen {
  height: 23.6em;
  width: 42em; }

.cd-landscape-right:not(.cd-landscape-fixed-screen).cd-ipad > .cd-body > .cd-screen {
  height: 30em;
  width: 40em; }

.cd-landscape-fixed-screen > .cd-body > .cd-screen {
  transform: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform-origin: none;
  -webkit-transform-origin: none;
  -ms-transform-origin: none; }

.iphone, .ipad {
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #999, 0 0 30px 0px rgba(0, 0, 0, 0.7);
  border: 5px solid #d9dbdc;
  background: #f8f8f8;
  padding: 15px;
  border-radius: 50px;
  height: 877px;
  width: 423px;
  position: relative;
  margin: 30px auto;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  box-sizing: border-box; }
  .iphone .device-top, .ipad .device-top {
    padding: 5px 110px 40px;
    position: relative; }
  .iphone .device-top .speaker, .ipad .device-top .speaker {
    display: block;
    width: 70px;
    height: 6px;
    margin: 0 auto;
    border-radius: 6px;
    background: #292728; }
  .iphone .device-top .camera, .ipad .device-top .camera {
    display: block;
    margin: 0 auto;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-bottom: 13px;
    background: #333; }
  .iphone .device-top .sensor, .ipad .device-top .sensor {
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    background: #333;
    margin-top: -5px;
    border-radius: 50%; }
  .iphone .top-bar, .iphone .bottom-bar, .ipad .top-bar, .ipad .bottom-bar {
    display: block;
    width: 413px;
    height: 15px;
    border-left: 5px solid #BBB;
    border-right: 5px solid #BBB;
    position: absolute;
    left: -5px; }
  .iphone .top-bar, .ipad .top-bar {
    top: 65px; }
  .iphone .bottom-bar, .ipad .bottom-bar {
    bottom: 65px; }
  .iphone .device-screen, .ipad .device-screen {
    background: #eee;
    border: 1px solid #fff;
    height: 677px;
    width: 375px;
    margin: 0 auto;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    overflow: hidden; }
    .iphone .device-screen > *, .ipad .device-screen > * {
      width: 100%;
      height: 100%; }
  .iphone .device-screen img, .ipad .device-screen img {
    width: 100%; }
  .iphone .buttons .on-off, .iphone .buttons .up, .iphone .buttons .down, .iphone .buttons .sleep, .ipad .buttons .on-off, .ipad .buttons .up, .ipad .buttons .down, .ipad .buttons .sleep {
    display: block;
    background: #CCC;
    position: absolute;
    border-radius: 2px 0px 0px 2px; }
  .iphone .buttons .on-off, .ipad .buttons .on-off {
    height: 40px;
    width: 3px;
    top: 100px;
    left: -8px; }
  .iphone .buttons .up, .iphone .buttons .down, .iphone .buttons .sleep, .ipad .buttons .up, .ipad .buttons .down, .ipad .buttons .sleep {
    height: 60px;
    width: 5px;
    left: -10px; }
  .iphone .buttons .up, .ipad .buttons .up {
    top: 170px; }
  .iphone .buttons .down, .ipad .buttons .down {
    top: 250px; }
  .iphone .buttons .sleep, .ipad .buttons .sleep {
    left: auto;
    right: -10px;
    top: 170px;
    border-radius: 0px 2px 2px 0px; }
  .iphone .device-bottom, .ipad .device-bottom {
    padding: 10px 0 0; }
  .iphone .device-bottom span, .ipad .device-bottom span {
    display: block;
    margin: 0 auto;
    width: 68px;
    height: 68px;
    background: #ccc;
    border-radius: 50%;
    background: -webkit-linear-gradient(315deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
    background: linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
    position: relative; }
  .iphone .device-bottom span:after, .ipad .device-bottom span:after {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 4px; }

.ipad {
  width: 870px;
  height: 1250px;
  -webkit-transform: scale(0.8);
  transform: scale(0.8); }
  .ipad .device-top .speaker {
    visibility: hidden; }
  .ipad .device-top .sensor {
    visibility: hidden; }
  .ipad .device-top .camera {
    margin-bottom: 0;
    margin-top: 13px;
    width: 12px;
    height: 12px; }
  .ipad .top-bar, .ipad .bottom-bar {
    visibility: hidden; }
  .ipad .device-screen {
    width: 780px;
    height: 1024px; }
  .ipad .device-bottom {
    padding: 30px 0 0; }
  .ipad .buttons {
    visibility: hidden; }

/* based on: https://github.com/kristoferjoseph/flexboxgrid/blob/master/src/css/flexboxgrid.css */
:root {
  --gutter-width: 0rem;
  --outer-margin: 0rem;
  --gutter-compensation: calc((var(--gutter-width) * 0.5) * -1);
  --half-gutter-width: calc((var(--gutter-width) * 0.5));
  --xs-min: 30;
  --sm-min: 48;
  --md-min: 64;
  --lg-min: 75;
  --screen-xs-min: var(--xs-min) em;
  --screen-sm-min: var(--sm-min) em;
  --screen-md-min: var(--md-min) em;
  --screen-lg-min: var(--lg-min) em;
  --container-sm: calc(var(--sm-min) + var(--gutter-width));
  --container-md: calc(var(--md-min) + var(--gutter-width));
  --container-lg: calc(var(--lg-min) + var(--gutter-width)); }

.ory-editable {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--outer-margin, 2rem);
  padding-left: var(--outer-margin, 2rem); }

.ory-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: var(--gutter-compensation, -0.5rem);
  margin-left: var(--gutter-compensation, -0.5rem);
  position: relative; }

.ory-cell-xs,
.ory-cell-xs-1,
.ory-cell-xs-2,
.ory-cell-xs-3,
.ory-cell-xs-4,
.ory-cell-xs-5,
.ory-cell-xs-6,
.ory-cell-xs-7,
.ory-cell-xs-8,
.ory-cell-xs-9,
.ory-cell-xs-10,
.ory-cell-xs-11,
.ory-cell-xs-12,
.ory-cell-xs-offset-0,
.ory-cell-xs-offset-1,
.ory-cell-xs-offset-2,
.ory-cell-xs-offset-3,
.ory-cell-xs-offset-4,
.ory-cell-xs-offset-5,
.ory-cell-xs-offset-6,
.ory-cell-xs-offset-7,
.ory-cell-xs-offset-8,
.ory-cell-xs-offset-9,
.ory-cell-xs-offset-10,
.ory-cell-xs-offset-11,
.ory-cell-xs-offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: var(--half-gutter-width, 0.5rem);
  padding-left: var(--half-gutter-width, 0.5rem);
  min-width: 0; }

.ory-cell-xs {
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  min-width: 100%; }

.ory-cell-xs-1 {
  flex-basis: 8.33333333%;
  width: 8.33333333%; }

.ory-cell-xs-2 {
  flex-basis: 16.66666667%;
  width: 16.66666667%; }

.ory-cell-xs-3 {
  flex-basis: 25%;
  width: 25%;
  min-width: 25%; }

.ory-cell-xs-4 {
  flex-basis: 33.33333333%;
  width: 33.33333333%; }

.ory-cell-xs-5 {
  flex-basis: 41.66666667%;
  width: 41.66666667%; }

.ory-cell-xs-6 {
  flex-basis: 50%;
  width: 50%;
  min-width: 50%; }

.ory-cell-xs-7 {
  flex-basis: 58.33333333%;
  width: 58.33333333%; }

.ory-cell-xs-8 {
  flex-basis: 66.66666667%;
  width: 66.66666667%; }

.ory-cell-xs-9 {
  flex-basis: 75%;
  width: 75%;
  min-width: 75%; }

.ory-cell-xs-10 {
  flex-basis: 83.33333333%;
  width: 83.33333333%; }

.ory-cell-xs-11 {
  flex-basis: 91.66666667%;
  width: 91.66666667%; }

.ory-cell-xs-12 {
  flex-basis: 100%;
  width: 100%;
  min-width: 100%; }

.ory-cell-xs-offset-0 {
  margin-left: 0; }

.ory-cell-xs-offset-1 {
  margin-left: 8.33333333%; }

.ory-cell-xs-offset-2 {
  margin-left: 16.66666667%; }

.ory-cell-xs-offset-3 {
  margin-left: 25%; }

.ory-cell-xs-offset-4 {
  margin-left: 33.33333333%; }

.ory-cell-xs-offset-5 {
  margin-left: 41.66666667%; }

.ory-cell-xs-offset-6 {
  margin-left: 50%; }

.ory-cell-xs-offset-7 {
  margin-left: 58.33333333%; }

.ory-cell-xs-offset-8 {
  margin-left: 66.66666667%; }

.ory-cell-xs-offset-9 {
  margin-left: 75%; }

.ory-cell-xs-offset-10 {
  margin-left: 83.33333333%; }

.ory-cell-xs-offset-11 {
  margin-left: 91.66666667%; }

.start-xs {
  justify-content: flex-start;
  text-align: start; }

.center-xs {
  justify-content: center;
  text-align: center; }

.end-xs {
  justify-content: flex-end;
  text-align: end; }

.top-xs {
  align-items: flex-start; }

.middle-xs {
  align-items: center; }

.bottom-xs {
  align-items: flex-end; }

.around-xs {
  justify-content: space-around; }

.between-xs {
  justify-content: space-between; }

.first-xs {
  order: -1; }

.last-xs {
  order: 1; }

@media only screen and (min-width: 48em) {
  .ory-cell-sm,
  .ory-cell-sm-1,
  .ory-cell-sm-2,
  .ory-cell-sm-3,
  .ory-cell-sm-4,
  .ory-cell-sm-5,
  .ory-cell-sm-6,
  .ory-cell-sm-7,
  .ory-cell-sm-8,
  .ory-cell-sm-9,
  .ory-cell-sm-10,
  .ory-cell-sm-11,
  .ory-cell-sm-12,
  .ory-cell-sm-offset-0,
  .ory-cell-sm-offset-1,
  .ory-cell-sm-offset-2,
  .ory-cell-sm-offset-3,
  .ory-cell-sm-offset-4,
  .ory-cell-sm-offset-5,
  .ory-cell-sm-offset-6,
  .ory-cell-sm-offset-7,
  .ory-cell-sm-offset-8,
  .ory-cell-sm-offset-9,
  .ory-cell-sm-offset-10,
  .ory-cell-sm-offset-11,
  .ory-cell-sm-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: var(--half-gutter-width, 0.5rem);
    padding-left: var(--half-gutter-width, 0.5rem);
    min-width: 0; }
  .ory-cell-sm {
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    min-width: 100%; }
  .ory-cell-sm-1 {
    flex-basis: 8.33333333%;
    width: 8.33333333%; }
  .ory-cell-sm-2 {
    flex-basis: 16.66666667%;
    width: 16.66666667%; }
  .ory-cell-sm-3 {
    flex-basis: 25%;
    width: 25%;
    min-width: 25%; }
  .ory-cell-sm-4 {
    flex-basis: 33.33333333%;
    width: 33.33333333%; }
  .ory-cell-sm-5 {
    flex-basis: 41.66666667%;
    width: 41.66666667%; }
  .ory-cell-sm-6 {
    flex-basis: 50%;
    width: 50%;
    min-width: 50%; }
  .ory-cell-sm-7 {
    flex-basis: 58.33333333%;
    width: 58.33333333%; }
  .ory-cell-sm-8 {
    flex-basis: 66.66666667%;
    width: 66.66666667%; }
  .ory-cell-sm-9 {
    flex-basis: 75%;
    width: 75%;
    min-width: 75%; }
  .ory-cell-sm-10 {
    flex-basis: 83.33333333%;
    width: 83.33333333%; }
  .ory-cell-sm-11 {
    flex-basis: 91.66666667%;
    width: 91.66666667%; }
  .ory-cell-sm-12 {
    flex-basis: 100%;
    width: 100%;
    min-width: 100%; }
  .ory-cell-sm-offset-0 {
    margin-left: 0; }
  .ory-cell-sm-offset-1 {
    margin-left: 8.33333333%; }
  .ory-cell-sm-offset-2 {
    margin-left: 16.66666667%; }
  .ory-cell-sm-offset-3 {
    margin-left: 25%; }
  .ory-cell-sm-offset-4 {
    margin-left: 33.33333333%; }
  .ory-cell-sm-offset-5 {
    margin-left: 41.66666667%; }
  .ory-cell-sm-offset-6 {
    margin-left: 50%; }
  .ory-cell-sm-offset-7 {
    margin-left: 58.33333333%; }
  .ory-cell-sm-offset-8 {
    margin-left: 66.66666667%; }
  .ory-cell-sm-offset-9 {
    margin-left: 75%; }
  .ory-cell-sm-offset-10 {
    margin-left: 83.33333333%; }
  .ory-cell-sm-offset-11 {
    margin-left: 91.66666667%; }
  .start-sm {
    justify-content: flex-start;
    text-align: start; }
  .center-sm {
    justify-content: center;
    text-align: center; }
  .end-sm {
    justify-content: flex-end;
    text-align: end; }
  .top-sm {
    align-items: flex-start; }
  .middle-sm {
    align-items: center; }
  .bottom-sm {
    align-items: flex-end; }
  .around-sm {
    justify-content: space-around; }
  .between-sm {
    justify-content: space-between; }
  .first-sm {
    order: -1; }
  .last-sm {
    order: 1; } }

@media only screen and (min-width: 64em) {
  .ory-cell-md,
  .ory-cell-md-1,
  .ory-cell-md-2,
  .ory-cell-md-3,
  .ory-cell-md-4,
  .ory-cell-md-5,
  .ory-cell-md-6,
  .ory-cell-md-7,
  .ory-cell-md-8,
  .ory-cell-md-9,
  .ory-cell-md-10,
  .ory-cell-md-11,
  .ory-cell-md-12,
  .ory-cell-md-offset-0,
  .ory-cell-md-offset-1,
  .ory-cell-md-offset-2,
  .ory-cell-md-offset-3,
  .ory-cell-md-offset-4,
  .ory-cell-md-offset-5,
  .ory-cell-md-offset-6,
  .ory-cell-md-offset-7,
  .ory-cell-md-offset-8,
  .ory-cell-md-offset-9,
  .ory-cell-md-offset-10,
  .ory-cell-md-offset-11,
  .ory-cell-md-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: var(--half-gutter-width, 0.5rem);
    padding-left: var(--half-gutter-width, 0.5rem);
    min-width: 0; }
  .ory-cell-md {
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    min-width: 100%; }
  .ory-cell-md-1 {
    flex-basis: 8.33333333%;
    width: 8.33333333%; }
  .ory-cell-md-2 {
    flex-basis: 16.66666667%;
    width: 16.66666667%; }
  .ory-cell-md-3 {
    flex-basis: 25%;
    width: 25%;
    min-width: 25%; }
  .ory-cell-md-4 {
    flex-basis: 33.33333333%;
    width: 33.33333333%; }
  .ory-cell-md-5 {
    flex-basis: 41.66666667%;
    width: 41.66666667%; }
  .ory-cell-md-6 {
    flex-basis: 50%;
    width: 50%;
    min-width: 50%; }
  .ory-cell-md-7 {
    flex-basis: 58.33333333%;
    width: 58.33333333%; }
  .ory-cell-md-8 {
    flex-basis: 66.66666667%;
    width: 66.66666667%; }
  .ory-cell-md-9 {
    flex-basis: 75%;
    width: 75%;
    min-width: 75%; }
  .ory-cell-md-10 {
    flex-basis: 83.33333333%;
    width: 83.33333333%; }
  .ory-cell-md-11 {
    flex-basis: 91.66666667%;
    width: 91.66666667%; }
  .ory-cell-md-12 {
    flex-basis: 100%;
    width: 100%;
    min-width: 100%; }
  .ory-cell-md-offset-0 {
    margin-left: 0; }
  .ory-cell-md-offset-1 {
    margin-left: 8.33333333%; }
  .ory-cell-md-offset-2 {
    margin-left: 16.66666667%; }
  .ory-cell-md-offset-3 {
    margin-left: 25%; }
  .ory-cell-md-offset-4 {
    margin-left: 33.33333333%; }
  .ory-cell-md-offset-5 {
    margin-left: 41.66666667%; }
  .ory-cell-md-offset-6 {
    margin-left: 50%; }
  .ory-cell-md-offset-7 {
    margin-left: 58.33333333%; }
  .ory-cell-md-offset-8 {
    margin-left: 66.66666667%; }
  .ory-cell-md-offset-9 {
    margin-left: 75%; }
  .ory-cell-md-offset-10 {
    margin-left: 83.33333333%; }
  .ory-cell-md-offset-11 {
    margin-left: 91.66666667%; }
  .start-md {
    justify-content: flex-start;
    text-align: start; }
  .center-md {
    justify-content: center;
    text-align: center; }
  .end-md {
    justify-content: flex-end;
    text-align: end; }
  .top-md {
    align-items: flex-start; }
  .middle-md {
    align-items: center; }
  .bottom-md {
    align-items: flex-end; }
  .around-md {
    justify-content: space-around; }
  .between-md {
    justify-content: space-between; }
  .first-md {
    order: -1; }
  .last-md {
    order: 1; } }

@media only screen and (min-width: 75em) {
  .ory-cell-lg,
  .ory-cell-lg-1,
  .ory-cell-lg-2,
  .ory-cell-lg-3,
  .ory-cell-lg-4,
  .ory-cell-lg-5,
  .ory-cell-lg-6,
  .ory-cell-lg-7,
  .ory-cell-lg-8,
  .ory-cell-lg-9,
  .ory-cell-lg-10,
  .ory-cell-lg-11,
  .ory-cell-lg-12,
  .ory-cell-lg-offset-0,
  .ory-cell-lg-offset-1,
  .ory-cell-lg-offset-2,
  .ory-cell-lg-offset-3,
  .ory-cell-lg-offset-4,
  .ory-cell-lg-offset-5,
  .ory-cell-lg-offset-6,
  .ory-cell-lg-offset-7,
  .ory-cell-lg-offset-8,
  .ory-cell-lg-offset-9,
  .ory-cell-lg-offset-10,
  .ory-cell-lg-offset-11,
  .ory-cell-lg-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: var(--half-gutter-width, 0.5rem);
    padding-left: var(--half-gutter-width, 0.5rem);
    min-width: 0; }
  .ory-cell-lg {
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    min-width: 100%; }
  .ory-cell-lg-1 {
    flex-basis: 8.33333333%;
    width: 8.33333333%; }
  .ory-cell-lg-2 {
    flex-basis: 16.66666667%;
    width: 16.66666667%; }
  .ory-cell-lg-3 {
    flex-basis: 25%;
    width: 25%;
    min-width: 25%; }
  .ory-cell-lg-4 {
    flex-basis: 33.33333333%;
    width: 33.33333333%; }
  .ory-cell-lg-5 {
    flex-basis: 41.66666667%;
    width: 41.66666667%; }
  .ory-cell-lg-6 {
    flex-basis: 50%;
    width: 50%;
    min-width: 50%; }
  .ory-cell-lg-7 {
    flex-basis: 58.33333333%;
    width: 58.33333333%; }
  .ory-cell-lg-8 {
    flex-basis: 66.66666667%;
    width: 66.66666667%; }
  .ory-cell-lg-9 {
    flex-basis: 75%;
    width: 75%;
    min-width: 75%; }
  .ory-cell-lg-10 {
    flex-basis: 83.33333333%;
    width: 83.33333333%; }
  .ory-cell-lg-11 {
    flex-basis: 91.66666667%;
    width: 91.66666667%; }
  .ory-cell-lg-12 {
    flex-basis: 100%;
    width: 100%;
    min-width: 100%; }
  .ory-cell-lg-offset-0 {
    margin-left: 0; }
  .ory-cell-lg-offset-1 {
    margin-left: 8.33333333%; }
  .ory-cell-lg-offset-2 {
    margin-left: 16.66666667%; }
  .ory-cell-lg-offset-3 {
    margin-left: 25%; }
  .ory-cell-lg-offset-4 {
    margin-left: 33.33333333%; }
  .ory-cell-lg-offset-5 {
    margin-left: 41.66666667%; }
  .ory-cell-lg-offset-6 {
    margin-left: 50%; }
  .ory-cell-lg-offset-7 {
    margin-left: 58.33333333%; }
  .ory-cell-lg-offset-8 {
    margin-left: 66.66666667%; }
  .ory-cell-lg-offset-9 {
    margin-left: 75%; }
  .ory-cell-lg-offset-10 {
    margin-left: 83.33333333%; }
  .ory-cell-lg-offset-11 {
    margin-left: 91.66666667%; }
  .start-lg {
    justify-content: flex-start;
    text-align: start; }
  .center-lg {
    justify-content: center;
    text-align: center; }
  .end-lg {
    justify-content: flex-end;
    text-align: end; }
  .top-lg {
    align-items: flex-start; }
  .middle-lg {
    align-items: center; }
  .bottom-lg {
    align-items: flex-end; }
  .around-lg {
    justify-content: space-around; }
  .between-lg {
    justify-content: space-between; }
  .first-lg {
    order: -1; }
  .last-lg {
    order: 1; } }

.ory-row-has-floating-children {
  display: block !important; }

.ory-row-is-hovering-this:before {
  content: " ";
  position: absolute;
  background: black;
  display: block;
  background: rgba(0, 0, 0, 0.87);
  z-index: 2; }

.ory-row-is-hovering-above:before {
  top: 0;
  height: 4px;
  width: 100%; }

.ory-row-is-hovering-below:before {
  bottom: 0;
  height: 4px;
  width: 100%; }

.ory-row-is-hovering-left-of:before {
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px; }

.ory-row-is-hovering-right-of:before {
  top: 0;
  right: 0;
  bottom: 0;
  width: 4px; }

.ory-editable {
  position: relative;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: stretch; }

.ory-cell-draggable {
  cursor: move;
  position: relative;
  transition: opacity 200ms ease;
  /* resolves an issue with drag and drop preview in chrome, see https://github.com/ory/editor/issues/180 */
  /* will-change: transform; */ }

.ory-cell-draggable-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  cursor: move;
  border: 1px solid transparent;
  transition: all ease .4s; }

.ory-cell-draggable-overlay:hover {
  background: rgba(0, 0, 0, 0.26);
  border: 1px solid rgba(255, 255, 255, 0.54);
  background-blend-mode: screen; }

.ory-cell-draggable-overlay-description {
  text-align: center;
  display: block;
  color: rgba(0, 0, 0, 0.97);
  max-width: 100%; }

.ory-cell-draggable-overlay-description span {
  opacity: 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.97);
  max-width: 90%;
  display: inline-block;
  padding: 8px 22px;
  margin: 0 auto;
  border-radius: 0 0 12px 12px;
  text-transform: uppercase;
  font-size: 75%;
  letter-spacing: 0.15em;
  background: rgba(255, 255, 255, 0);
  transition: all ease .4s; }

.ory-cell-draggable-overlay:hover .ory-cell-draggable-overlay-description span {
  background: rgba(255, 255, 255, 0.95);
  opacity: 1; }

.ory-cell-draggable-overlay.ory-cell-draggable-leaf {
  z-index: 3; }

.ory-cell-draggable-inline-left.ory-cell-draggable-overlay,
.ory-cell-draggable-inline-right.ory-cell-draggable-overlay {
  float: left;
  z-index: 4; }

.ory-cell-draggable-is-dragging {
  opacity: 0.4;
  outline: none; }

.ory-cell-droppable {
  position: relative; }

.ory-cell-droppable-is-over-current:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.87); }

.ory-cell-droppable-is-over-above:before,
.ory-cell-droppable-is-over-below:before {
  border-left: 0;
  border-right: 0; }

.ory-cell-droppable-is-over-left-of:before,
.ory-cell-droppable-is-over-right-of:before {
  border-top: 0;
  border-bottom: 0; }

.ory-cell-droppable-is-over-above:before {
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  border-left: 0;
  border-right: 0; }

.ory-cell-droppable-leaf.ory-cell-droppable-is-over-above:before {
  height: 4px; }

.ory-cell-droppable-is-over-below:before {
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px; }

.ory-cell-droppable-leaf.ory-cell-droppable-is-over-below:before {
  height: 4px; }

.ory-cell-droppable-is-over-left-of:before {
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px; }

.ory-cell-droppable-leaf.ory-cell-droppable-is-over-left-of:before {
  width: 4px; }

.ory-cell-droppable-is-over-right-of:before {
  top: 0;
  right: 0;
  bottom: 0;
  width: 4px; }

.ory-cell-droppable-leaf.ory-cell-droppable-is-over-right-of:before {
  width: 4px; }

.ory-cell-droppable-is-over-inline-right:before,
.ory-cell-droppable-is-over-inline-left:before {
  top: 0;
  width: 50%;
  height: 36%;
  max-height: 128px;
  background-color: #e0e0e0;
  border: 1px solid rgba(0, 0, 0, 0.26); }

.ory-cell-droppable-is-over-inline-left:before {
  left: 0; }

.ory-cell-droppable-is-over-inline-right:before {
  right: 0; }

.ory-cell-empty {
  background-color: red;
  padding: 8px;
  margin: 2px;
  overflow: hidden; }

.ory-cell-empty strong {
  margin: 0 auto; }

.ory-cell-empty code {
  overflow: scroll; }

@keyframes oryCellResizeableAnimate {
  0% {
    background-color: rgba(255, 255, 255, 0.26);
    top: 45%;
    bottom: 45%; }
  50% {
    background-color: rgba(255, 255, 255, 0.12);
    top: 0;
    bottom: 0; }
  100% {
    background-color: rgba(255, 255, 255, 0.87);
    top: 45%;
    bottom: 45%; } }

.ory-cell-resizable-inline-right > .react-resizable-handle {
  left: -4px; }

.ory-cell-resizable.react-resizable > .react-resizable-handle {
  position: absolute;
  z-index: 5;
  width: 4px;
  top: 0;
  bottom: 0;
  right: -2px;
  cursor: e-resize;
  background-color: rgba(0, 0, 0, 0.54);
  mix-blend-mode: difference;
  transition: all 200ms linear; }

.ory-cell-resizable.react-resizable > .react-resizable-handle:after {
  content: " ";
  background-color: rgba(255, 255, 255, 0.87);
  /* width: 30px; */
  /* height: 30px; */
  position: absolute;
  /* z-index: 1000; */
  top: 45%;
  bottom: 45%;
  left: 0;
  right: 0;
  transition: all 200ms linear;
  mix-blend-mode: normal;
  animation-name: oryCellResizeableAnimate;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 0.8s; }

.ory-cell-resizable.react-resizable > .react-resizable-handle:hover:after,
.ory-cell-resizable.react-resizable > .react-resizable-handle:active:after {
  background-color: white;
  top: 0;
  bottom: 0; }

.ory-cell-inline-left {
  float: left; }

.ory-cell-inline-right {
  float: right; }

.ory-cell-has-inline-neighbour {
  float: none;
  width: 100%; }

.ory-cell-focused {
  /* box-shadow: 0 0 5px rgb(81, 203, 238); */
  /* outline: 1px solid rgb(81, 203, 238); */ }

.ory-cell {
  position: relative; }

.ory-cell-bring-to-front {
  z-index: 1; }

.ory-cell-resizing-overlay:after {
  content: " ";
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.ory-controls-mode-toggle-button-inner {
  float: right;
  margin: 8px; }

.ory-controls-mode-toggle-button-description {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin-top: 24px;
  float: right;
  background: transparent;
  color: transparent;
  border: 1px transparent solid;
  padding: 2px 8px;
  text-align: right;
  max-width: 0;
  transition: all 200ms ease;
  white-space: nowrap;
  overflow: hidden; }

.ory-controls-mode-toggle-button:hover .ory-controls-mode-toggle-button-description {
  max-width: 999px;
  background: rgba(0, 0, 0, 0.87);
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12); }

.ory-controls-mode-toggle-control-group {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  padding: 16px;
  transition: all 200ms ease; }

.ory-controls-mode-toggle-clearfix {
  clear: both; }

.ory-toolbar-item-drag-handle-button,
.ory-toolbar-item-drag-handle-button svg {
  cursor: move !important; }

.ory-toolbar-item-drag-handle {
  background: rgba(0, 0, 0, 0.12);
  border-radius: 0;
  color: rgba(255, 255, 255, 0.87) !important;
  fill: rgba(255, 255, 255, 0.87) !important; }

.ory-toolbar-item:hover .ory-toolbar-item-drag-handle {
  background: rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  color: rgba(0, 0, 0, 0.54) !important;
  fill: rgba(0, 0, 0, 0.54) !important; }

.ory-toolbar-item:hover .ory-toolbar-item-drag-handle:hover {
  background: rgba(0, 0, 0, 0.54);
  color: rgba(255, 255, 255, 0.87) !important;
  fill: rgba(255, 255, 255, 0.87) !important; }

.ory-toolbar-item:hover .ory-toolbar-item-drag-handle:active {
  background: rgba(0, 0, 0, 0.26);
  color: rgba(255, 255, 255, 0.87) !important;
  fill: rgba(255, 255, 255, 0.87) !important; }

.rc-tooltip {
  position: absolute;
  z-index: 1301;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.5;
  opacity: 0.9; }

.rc-tooltip-hidden {
  display: none; }

.rc-tooltip-placement-top,
.rc-tooltip-placement-topLeft,
.rc-tooltip-placement-topRight {
  padding: 5px 0 9px 0; }

.rc-tooltip-placement-right,
.rc-tooltip-placement-rightTop,
.rc-tooltip-placement-rightBottom {
  padding: 0 5px 0 9px; }

.rc-tooltip-placement-bottom,
.rc-tooltip-placement-bottomLeft,
.rc-tooltip-placement-bottomRight {
  padding: 9px 0 5px 0; }

.rc-tooltip-placement-left,
.rc-tooltip-placement-leftTop,
.rc-tooltip-placement-leftBottom {
  padding: 0 9px 0 5px; }

.rc-tooltip-inner {
  padding: 8px 10px;
  color: #fff;
  text-align: left;
  text-decoration: none;
  background-color: #373737;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.17); }

.rc-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.rc-tooltip-placement-top .rc-tooltip-arrow,
.rc-tooltip-placement-topLeft .rc-tooltip-arrow,
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  bottom: 4px;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #373737; }

.rc-tooltip-placement-top .rc-tooltip-arrow {
  left: 50%; }

.rc-tooltip-placement-topLeft .rc-tooltip-arrow {
  left: 15%; }

.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  right: 15%; }

.rc-tooltip-placement-right .rc-tooltip-arrow,
.rc-tooltip-placement-rightTop .rc-tooltip-arrow,
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
  left: 4px;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #373737; }

.rc-tooltip-placement-right .rc-tooltip-arrow {
  top: 50%; }

.rc-tooltip-placement-rightTop .rc-tooltip-arrow {
  top: 15%;
  margin-top: 0; }

.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
  bottom: 15%; }

.rc-tooltip-placement-left .rc-tooltip-arrow,
.rc-tooltip-placement-leftTop .rc-tooltip-arrow,
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
  right: 4px;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #373737; }

.rc-tooltip-placement-left .rc-tooltip-arrow {
  top: 50%; }

.rc-tooltip-placement-leftTop .rc-tooltip-arrow {
  top: 15%;
  margin-top: 0; }

.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
  bottom: 15%; }

.rc-tooltip-placement-bottom .rc-tooltip-arrow,
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow,
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
  top: 4px;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #373737; }

.rc-tooltip-placement-bottom .rc-tooltip-arrow {
  left: 50%; }

.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow {
  left: 15%; }

.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
  right: 15%; }

.rc-tooltip.rc-tooltip-zoom-enter,
.rc-tooltip.rc-tooltip-zoom-leave {
  display: block; }

.rc-tooltip-zoom-enter,
.rc-tooltip-zoom-appear {
  opacity: 0;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.rc-tooltip-zoom-leave {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
  animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.rc-tooltip-zoom-enter.rc-tooltip-zoom-enter-active,
.rc-tooltip-zoom-appear.rc-tooltip-zoom-appear-active {
  -webkit-animation-name: rcToolTipZoomIn;
  animation-name: rcToolTipZoomIn;
  -webkit-animation-play-state: running;
  animation-play-state: running; }

.rc-tooltip-zoom-leave.rc-tooltip-zoom-leave-active {
  -webkit-animation-name: rcToolTipZoomOut;
  animation-name: rcToolTipZoomOut;
  -webkit-animation-play-state: running;
  animation-play-state: running; }

@-webkit-keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-webkit-keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }

@keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }

.ory-controls-trash {
  position: fixed;
  bottom: -64px;
  z-index: 100;
  left: 50%;
  transition: bottom 200ms ease;
  padding: 8px; }

.ory-controls-trash.ory-controls-trash-active {
  bottom: 16px; }

.page-header {
  background: #fff;
  padding: 10px;
  text-align: center; }
  .page-header span {
    margin: 0 10px; }
  .page-header h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold; }

.ory-plugins-content-slate-inline-toolbar {
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #212121;
  border-radius: 4px;
  transition: opacity .75s; }

.ory-plugins-content-slate-paragraph-placeholder {
  font-style: italic;
  color: rgba(0, 0, 0, 0.54); }

.ory-plugins-content-image {
  width: 100%; }

.ory-plugins-content-image-placeholder {
  position: relative;
  width: 100%;
  text-align: center; }

.uploader {
  user-select: none; }
  .uploader .uploader-hover .uploader-delete {
    background: rgba(0, 0, 0, 0.4);
    top: 0; }
  .uploader .uploader-selected {
    background: rgba(0, 0, 0, 0.4); }
    .uploader .uploader-selected:after {
      content: 'done';
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 120px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      line-height: 150px;
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
      margin: auto; }
  .uploader .uploader-delete {
    transition: top .3s;
    position: absolute;
    top: -32px;
    left: 0;
    text-align: right;
    height: 32px;
    width: 100%; }

.anchor-title-container {
  position: relative; }
  .anchor-title-container .anchor-title-line {
    display: inline-block;
    height: 100%;
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
    width: 5px;
    margin: auto 0;
    background: #7e57c2; }
  .anchor-title-container .anchor-title {
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-user-modify: read-only;
    padding: 5px 0;
    font-size: 22px;
    font-weight: bold; }
    .anchor-title-container .anchor-title h2 {
      margin: 0; }

.anchor-nav {
  position: fixed;
  top: 100px;
  left: 160px;
  background: #fff;
  padding: 0 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1), -2px -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 160px;
  box-sizing: border-box; }
  .anchor-nav .anchor-nav-list {
    list-style: none;
    padding: 0;
    margin: 0; }
    .anchor-nav .anchor-nav-list li {
      margin: 10px 0;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-radius: 5px;
      padding: 0 10px;
      margin: 15px 0;
      cursor: pointer; }

@media (max-width: 800px) {
  .anchor-nav {
    width: 100%;
    left: 0;
    top: 0;
    overflow-x: auto; }
    .anchor-nav .anchor-nav-list {
      width: max-content; }
      .anchor-nav .anchor-nav-list li {
        float: left;
        margin: 15px 10px;
        font-size: 16px; } }

@media (max-width: 400px) {
  .anchor-nav .anchor-nav-list li {
    margin: 10px 5px;
    font-size: 14px; } }
