.iphone, .ipad {
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #999, 0 0 30px 0px rgba(0, 0, 0, 0.7);
  border: 5px solid #d9dbdc;
  background: #f8f8f8;
  padding: 15px;
  border-radius: 50px;
  height: 877px;
  width: 423px;
  position: relative;
  margin: 30px auto;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  box-sizing: border-box; }
  .iphone .device-top, .ipad .device-top {
    padding: 5px 110px 40px;
    position: relative; }
  .iphone .device-top .speaker, .ipad .device-top .speaker {
    display: block;
    width: 70px;
    height: 6px;
    margin: 0 auto;
    border-radius: 6px;
    background: #292728; }
  .iphone .device-top .camera, .ipad .device-top .camera {
    display: block;
    margin: 0 auto;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-bottom: 13px;
    background: #333; }
  .iphone .device-top .sensor, .ipad .device-top .sensor {
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    background: #333;
    margin-top: -5px;
    border-radius: 50%; }
  .iphone .top-bar, .iphone .bottom-bar, .ipad .top-bar, .ipad .bottom-bar {
    display: block;
    width: 423px;
    height: 15px;
    border-left: 5px solid #BBB;
    border-right: 5px solid #BBB;
    position: absolute;
    left: -5px; }
  .iphone .top-bar, .ipad .top-bar {
    top: 65px; }
  .iphone .bottom-bar, .ipad .bottom-bar {
    bottom: 65px; }
  .iphone .device-screen, .ipad .device-screen {
    background: #eee;
    border: 1px solid #fff;
    height: 677px;
    width: 375px;
    margin: 0 auto;
    border: 2px solid rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    overflow: hidden; }
    .iphone .device-screen > *, .ipad .device-screen > * {
      width: 100%;
      height: 100%; }
  .iphone .device-screen img, .ipad .device-screen img {
    width: 100%; }
  .iphone .buttons .on-off, .iphone .buttons .up, .iphone .buttons .down, .iphone .buttons .sleep, .ipad .buttons .on-off, .ipad .buttons .up, .ipad .buttons .down, .ipad .buttons .sleep {
    display: block;
    background: #CCC;
    position: absolute;
    border-radius: 2px 0px 0px 2px; }
  .iphone .buttons .on-off, .ipad .buttons .on-off {
    height: 40px;
    width: 3px;
    top: 100px;
    left: -8px; }
  .iphone .buttons .up, .iphone .buttons .down, .iphone .buttons .sleep, .ipad .buttons .up, .ipad .buttons .down, .ipad .buttons .sleep {
    height: 60px;
    width: 5px;
    left: -10px; }
  .iphone .buttons .up, .ipad .buttons .up {
    top: 170px; }
  .iphone .buttons .down, .ipad .buttons .down {
    top: 250px; }
  .iphone .buttons .sleep, .ipad .buttons .sleep {
    left: auto;
    right: -10px;
    top: 170px;
    border-radius: 0px 2px 2px 0px; }
  .iphone .device-bottom, .ipad .device-bottom {
    padding: 10px 0 0; }
  .iphone .device-bottom span, .ipad .device-bottom span {
    display: block;
    margin: 0 auto;
    width: 68px;
    height: 68px;
    background: #ccc;
    border-radius: 50%;
    background: -webkit-linear-gradient(315deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
    background: linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
    position: relative; }
  .iphone .device-bottom span:after, .ipad .device-bottom span:after {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 4px; }

.ipad {
  width: 870px;
  height: 1250px;
  -webkit-transform: scale(0.8);
  transform: scale(0.8); }
  .ipad .device-top .speaker {
    visibility: hidden; }
  .ipad .device-top .sensor {
    visibility: hidden; }
  .ipad .device-top .camera {
    margin-bottom: 0;
    margin-top: 13px;
    width: 12px;
    height: 12px; }
  .ipad .top-bar, .ipad .bottom-bar {
    visibility: hidden; }
  .ipad .device-screen {
    width: 780px;
    height: 1024px; }
  .ipad .device-bottom {
    padding: 30px 0 0; }
  .ipad .buttons {
    visibility: hidden; }
